name: deploy-posts

on:
  push:
    branches:
      - master
    paths:
      - "posts/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd posts && docker build -t akbar010202/posts .
      - run: echo ${{ secrets.DOCKER_PASSWORD }} |docker login -u $DOCKER_USERNAME --password-stdin
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      - run: docker push akbar010202/posts
      - uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - run: doctl kubernetes cluster kubeconfig save manzil-project
      # - run: kubectl rollout restart deployment posts-depl
